<footer>
    <p class="follow">
        يُمكنك متابعة اخر أخبار الموقع و القناة علي

        <a href=""> الفيسبوك </a>
    </p>

    <p class="design">Designed and developed by Ali Hassan © 2022</p>
</footer>